
/*
dag.process.active{
	fill: "red";
}
*/

.dag_div .process:hover{
	opacity: 0.7;
	cursor:pointer;
}
.dag_div .process{
	opacity: 0.3;
	fill:#00ffff;
	fill-opacity:1;
	stroke:#000000;
	stroke-width:3;
}

.dag_div .process.active{
	opacity: 0.5;
	fill-opacity: 1;
	fill:yellow;
	stroke: red;
}

.fig_div .process{
	display: none;
}

.fig_div .process.active{
  display: inline-block;
}

.math_div .process{
  display: none;
}

.math_div .process.active{
  display: inline-block;
}


/*

circle:hover{
  fill:red;
}
*/
